:root {
    --primary-color: rgba(149,161,241);
    --secondary-color: rgba(247,121,250);
    --tertiary-color: rgba(80,97,172);
    --dark-color: rgba(0,41,106);
    --light-color: rgba(234,244,252);
} 

*{
    margin: 0;
    padding: 0;
}
nav {
    
    background-color: var(--primary-color);
    padding: 5px 10px;
    background-size: cover;
    background-position: center;
    position: relative;
    
}

.nav-col {
    display: flex;
    
    align-items: center;
    justify-content: space-between;
}

.navbar img {
    width: 160px;
    }

.navbar h1 {
    color: var(--light-color);
    font-size: 52px;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    }

.navbar p {
    color: var(--dark-color);
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
     
}

.nav-list ul {
    color: var(--light-color);
    list-style: none;
    padding: 5px;
    display: inline-block;
    position: relative;
}

.nav-item {
    color: var(--light-color);
    text-align: right;
}