:root {
    --primary-color: rgba(149,161,241);
    --secondary-color: rgba(247,121,250);
    --tertiary-color: rgba(80,97,172);
    --dark-color: rgba(0,41,106);
    --light-color: rgba(234,244,252);
} 

*{
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    background-color: var(--primary-color);
    box-shadow: 0 0 6px var(--dark-color, 0.8), 0 0 6px var(--light-color, 0.2);
    background: cover;
    background-position: center;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-logo img {
    width: 160px;
    }

.nav-title h1 {
    color: var(--light-color);
    font-size: 3em;
    font-weight: bold;
    padding-bottom: 0;
    margin-bottom: 0;
    text-shadow: -1px 1px 2px var(--secondary-color),
                 1px -1px 2px var(--secondary-color), 
                 -1px -1px 2px var(--secondary-color), 
                 1px 1px 2px var(--secondary-color);
				
   
    }

.nav-title p {
    color: var(--dark-color);
    font-size: 1.25em;
    font-style: italic;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 30px;

}

.nav-list  {
    color: var(--light-color);
    
    padding: 5px;
    display: inline-block;
    position: relative;
   display: flex;
}

.nav-list > li {
    list-style: none;
    color: var(--light-color);
    text-align: right;
    padding: 12px;
    
}

.nav-list > li:hover {
    color: var(--dark-color);
    cursor: pointer;
    text-shadow: -1px 1px 2px var(--secondary-color),
                 1px -1px 2px var(--secondary-color), 
                 -1px -1px 2px var(--secondary-color), 
                 1px 1px 2px var(--secondary-color);
    
    transition: .25s;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.main-content .main-title {
    color: var(--dark-color);
    padding: 50px 30px;
    text-align: center;
    font-size: 4em; 
    
}

footer {
    position: absolute;
    bottom: 0;
    background-color: var(--dark-color);
    width: 100%;
    height: 30px;

}

.footer .indicia {
    padding-top: 15px;
    font-size: 12px;
    text-align: center;
    color: var(--primary-color);
}