{% extends 'base.html' %}

{% block head %}
<h5>Password Reset Request</h5>
{% endblock %}



{% block body %}
<section class="bodyContainer">
    <h1>Reset Your Password</h1>
    <form id="reset-request-form" action="{{ url_for('reset_request') }}" method="POST">
        <input type="email"
               name="email"
               placeholder="Enter your email"
               class="inputField"
               required>
        <input type="submit"
               value="Request Reset"
               class="btn btnLogin">
    </form>
</section>
{% endblock %}