:root {
  --primary-color: rgba(85, 182, 0);
  --secondary-color: rgba(32, 113, 120);
  --tertiary-color: rgba(182, 157, 68);
  --dark-color: rgba(23, 76, 79);
  --light-color: rgba(255, 225, 132);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}

/* Header Styling */
.header {
  display: flex;
  background-color: var(--primary-color);
  justify-content: center;
}

.header-logo {
  height: 400px;
}

/* MainContent Styling */
.maincontent-container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-color);
  justify-content: center;

}

/* Footer Styling */
.footer {
  display: flex;
  background-color: var(--dark-color);
  position: absolute;
  bottom: 0; 
  width: 100%;
  justify-content: space-between;
}

.footer-logo {
  height: 100px; 
}

.indicia {
  align-self: end;
}