:root {
  --primary-color: rgba(85, 182, 0);
  --secondary-color: rgba(32, 113, 120);
  --tertiary-color: rgba(182, 157, 68);
  --dark-color: rgba(23, 76, 79);
  --light-color: rgba(255, 225, 132);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Finlandica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Holtwood One SC', serif;
}

/* Header Styling */
.header {
  display: flex;
  justify-content: center;
  background: linear-gradient(315deg, var(--dark-color) 1%, var(--primary-color) 100%);
  
}

.header-logo {
  height: 200px;
}

/* MainContent Styling */
.maincontent-container {
  background-color: var(--light-color);
  text-align: center;
  padding: 40px;
  color: var(--dark-color);
}

.meme-form {
  padding: 30px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
}

.meme-text {
  border-radius: 8px;
  border: none;
  text-indent: 10px;
  font-size: 1rem;
}

::placeholder {
  opacity: 65%;
}

.meme-button {
  background: linear-gradient(180deg, var(--secondary-color) 1%, var(--primary-color) 100%);
  color: var(--light-color);
  border-radius: 5px;
  grid-column: 1 / -1;
  font-weight: bold;
  cursor: pointer; 
}

.fa-image {
  margin-left: 10px;
  font-size: 1.5rem;
}


/* Footer Styling */
.footer {
  display: flex;
  background-color: var(--dark-color);
  width: 100%;
  justify-content: space-between;
}

.footer-logo {
  height: 100px; 
}

.indicia {
  align-self: end;
  color: var(--light-color);
}