{% extends "layout.html" %}

{% block content %}
<section class="welcome-section">
    <h2>Welcome to Big Boyce's Big Brownies</h2>
    <p>Our oversized brownies are the perfect treat for any occasion. Baked fresh daily, they’re always delicious and sure to satisfy your sweet tooth. Our brownies come in various flavors and sizes, perfect for sharing with friends and family, or keeping all to yourself!</p>
    <img src="{{ url_for('static', filename='/images/brownies02.jpg') }}" alt="Baking Brownies">
</section>
{% endblock %}
