{% extends "layout.html" %}

{% block content %}
    <h2>What Our Customers Say</h2>
    <p>See what our satisfied customers have to say about our oversized brownies! We love hearing your feedback
        and are grateful for the loyal community of brownie lovers who support us.</p> 
        <img src="{{ url_for('static', filename='/images/customer.jpg') }}" alt="Sex">
        <p>"These brownies are the best I've ever had! So rich and chocolatey. Big Boyce is a genius!" - Sarah
            J.</p>
{% endblock %}
