:root {
    --color-dark: #1A1A1D;
    /* Dark Charcoal */
    --color-electric-blue: #0A84FF;
    /* Electric Blue */
    --color-neon-green: #39FF14;
    /* Neon Green */
    --color-cyborg-silver: #BFC9CA;
    /* Cyborg Silver */
    --color-data-stream-teal: #17A2B8;
    /* Data Stream Teal */
    --color-hologram-violet: #8A2BE2;
    /* Hologram Violet */
    --color-neon-pink: #FF007F;
    /* Neon Pink */
    --color-emerald: #053B44;
    /* Rich Emerald */
}

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
    color: var(--color-cyborg-silver);
    line-height: 1.6;
    height: 100%;
    overflow-y: scroll;
    /* Allow vertical scrolling */
}

.navbar-container {
    background-color: var(--color-electric-blue);
    padding: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    /* Ensure it stays on top */
}

.navbar-main {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-main li {
    margin: 0;
}

.navbar-main a {
    color: var(--color-cyborg-silver);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.navbar-main a:hover {
    background-color: var(--color-hologram-violet);
}

#pulpplanet-h1 {
    text-align: center;
    color: var(--color-electric-blue);
    padding-top: 50px;
    /* Add padding to account for fixed navbar */
    font-size: 2rem;
}

#pulpplanet-sub {
    text-align: center;
    color: var(--color-neon-green);
    font-style: italic;
    margin-bottom: 10px;
}

.pulpplanet-logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.pulpplanet-logo {
    width: 150px;
    height: 150px;
    background-image: url('../assets/img/pulpplanet.png');
    background-size: cover;
    border: 5px solid var(--color-electric-blue);
    border-radius: 40%;
    box-shadow: 0 0 15px var(--color-neon-pink);
}

#pulpplanet-tag {
    text-align: center;
    color: var(--color-cyborg-silver);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.7);
    /* A semi-transparent overlay */
    margin-bottom: 10px;
}
.author-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-emerald);
    padding: 10px; /* Match collection padding */
    margin: 10px; /* Match collection margin */
    border-radius: 10px;
    color: var(--color-light);
    box-shadow: 0 0 10px var(--color-dark);
    background-image: url("../pkdick/img/androidDream.jpg");
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Center the image */
}

.author-image {
    width: 250px;
    height: 250px;
    background-image: url("../pkdick/img/PKDick\(photo_by_Arthur_Knight\).jpg");
    background-size: cover;
    border: 5px solid var(--color-primary);
    border-radius: 10%;
    box-shadow: 0 0 10px var(--color-dark);
    margin-left: 5%;
}

.author-blurb {
    text-align: justify;
    max-width: 600px;
    padding: 20px;
    color: var(--color-light);
    text-shadow: 2px 2px var(--color-dark);
}

#body-pkdick {
    background-color: var(--color-dark);
    color: var(--color-cyborg-silver);
    padding: 20px;
    padding-top: 70px;
    /* Add padding to account for fixed navbar */
}

.container-pkdick {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    /* A semi-transparent overlay */
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-dark);
}

#h1-pkdick {
    color: var(--color-neon-green);
    text-align: center;
    margin-bottom: 20px;
}

.summary-pkdick {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #003300;
    /* Dark green to simulate a monitor background */
    background: linear-gradient(#003300, #001100);
    /* Gradient for a more dynamic look */
    color: #00FF00;
    /* Bright green text to simulate an old CRT monitor */
    font-family: 'Courier New', Courier, monospace;
    /* Monospace font for authenticity */
    border-radius: 10px;
    box-shadow: inset 0 0 15px var(--color-paper-shadow), 0 4px 8px var(--color-paper-shadow);
    border: 1px solid #00FF00;
    /* Matching border */
    text-shadow: 0 0 5px #00FF00;
    /* Glow effect for text */
}

#h2-pkdick {
    color: var(--color-hologram-violet);
    margin-bottom: 10px;
}

#p-pkdick {
    margin-bottom: 10px;
}