:root {
    --color-dark: #1C2C35;                      /* A darker, navy tone for text */
    --color-mid: #2A506B;                       /* A medium, muted blue for accents */
    --color-light: #EBF1FA;                     /* A light, sky-blue tinted background */
    --color-primary: #0A3C59;                   /* A rich, deep blue */
    --color-secondary: #1B617D;                 /* A softer, oceanic blue */
    --color-tertiary: #6FA3BF;                  /* A bright, refreshing light blue */
    --color-overlay: rgba(10, 60, 89, 0.7);     /* A semi-transparent overlay for a blue effect */
    --color-emerald: #053B44;                   /* A rich emerald green accent color */
}

body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-light);
    color: var(--color-dark);
    line-height: 1.6;
}

.navbar-container {
    background-color: var(--color-primary);
    padding: 5px;
    /* Match collection padding */
}

.navbar-main {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-main li {
    margin: 0;
}

.navbar-main a {
    color: var(--color-light);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    /* Match collection padding */
}

.navbar-main a:hover {
    background-color: var(--color-secondary);
}

#pulpplanet-h1 {
    text-align: center;
    color: var(--color-primary);
    padding-top: 10px;
    /* Match collection padding */
    font-size: 2rem;
    /* Match collection font size */
}

#pulpplanet-sub {
    text-align: center;
    color: var(--color-secondary);
    font-style: italic;
    margin-bottom: 10px;
    /* Match collection margin */
}

.pulpplanet-logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    /* Match collection margin */
}

.pulpplanet-logo {
    width: 150px;
    height: 150px;
    background-image: url('../assets/img/pulpplanet.png');
    background-size: cover;
    border: 5px solid var(--color-primary);
    border-radius: 40%;
    /* Match collection border radius */
    box-shadow: 0 0 15px var(--color-dark);
}

#pulpplanet-tag {
    text-align: center;
    color: var(--color-dark);
    padding-top: 10px;
    padding-bottom: 10px;
    /* Match collection padding */
    font-size: 1.2rem;
    background-color: var(--color-overlay);
    margin-bottom: 10px;
    /* Match collection margin */
}

.pulpplanet-about-container {
    background-color: var(--color-light);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-mid);
}

.pulpplanet-about p {
    margin: 15px 0;
    color: var(--color-dark);
}