{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Jeffrey S Walley's Portfolio</h1>
    <p class="lead">I am a passionate web developer and designer building innovative solutions at Walley Web World.</p>
    <hr class="my-4">
    <p>Explore my projects, read my technical insights, and learn more about my journey in technology.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('projects') }}" role="button">View Projects</a>
</div>
{% endblock %}