:root {
    --primary-color: #292e6c;
    --secondary-color: #F779FA;
    --tertiary-color: #95A1F1;
    --light-color: #f5f5f5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

h1 {
    font-family: 'Acme', sans-serif;
}


/* Header */

header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(149, 161, 241, 0.8)), url('../img/shrimps.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 250px;
    height: auto;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    display: block;
    margin: auto;
    transition: width 0.3s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: var(--light-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 50px 0;
    padding: 10px;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 5px 0 10px;
    font-size: 14px;
    color: var(--light-color);
}


/* twitchy button css effect*/


/*.text-box a {
    color: var(--tertiary-color);
    text-decoration: none;
    border: 2px solid var(--tertiary-color);
    background-color: var(--primary-color);
    transition: 1s;
}

.text-box a:hover {
    color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
}*/

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--light-color);
    padding: 8px 14px;
    border: 2px solid var(--secondary-color);
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: 1s;
}

nav .fa-solid {
    display: none;
}


/* Course */

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.course h1 {
    color: var(--primary-color);
    font-size: 60px;
    font-weight: 600;
}

p {
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: var(--tertiary-color);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.course-col p {
    color: var(--light-color);
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


/* Campus */

.campus {
    width: 80%;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
}

.row .campus-col {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.campus-col {
    flex-basis: 31%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    height: 80%;
    width: 100%;
    border-radius: 10px;
}

.layer {
    border-radius: 10px;
    background: transparent;
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--light-color);
    transition: 0.5s;
}

.layer:hover {
    background: rgba(247, 121, 250, 0.4);
    /*background: rgba(149, 161, 241, 0.4);*/
}


/* Media Queries */

@media (max-width: 700px) {
    .text-box {
        font-size: 25px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: var(--primary-color);
        height: 100vh;
        width: 175px;
        top: 0;
        right: -175px;
        text-align: left;
        z-index: 2;
        transition: .75s;
    }
    nav .fa-solid {
        display: block;
        color: var(--light-color);
        margin: 10px;
        font-size: 14px;
        cursor: pointer;
        padding: 10px;
    }
    .nav-links ul {
        padding: 20px;
    }
    .row {
        flex-direction: column;
    }
}