:root {
    --primary-color: #292e6c;
    --secondary-color: #F779FA;
    --tertiary-color: #95A1F1;
    --light-color: #f5f5f5;
}

@font-face {
    font-family: "Dailymirror.ttf";
    src: url("../img/Dailymirror.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}

#more, #more2, #more3 {display: none;}

h1 {
    font-family: 'Acme', sans-serif;
}


/* Header */

header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(149, 161, 241, 0.8)), url('../img/shrimps.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    display: flex;
    padding: 5px 15px;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 250px;
    height: auto;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    display: block;
    margin: auto;
    transition: width 0.3s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: var(--light-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 50px 0;
    padding: 10px;
}

.text-box h1 {
    font-size: 100px;
}

.text-box p {
    margin: 5px 0 10px;
    font-size: 14px;
    color: var(--light-color);
}


/* twitchy button css effect*/


/*.text-box a {
    color: var(--tertiary-color);
    text-decoration: none;
    border: 2px solid var(--tertiary-color);
    background-color: var(--primary-color);
    transition: 1s;
}

.text-box a:hover {
    color: var(--secondary-color);
    border: 4px solid var(--secondary-color);
}*/

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--light-color);
    padding: 8px 14px;
    border: 2px solid var(--secondary-color);
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    color: var(--secondary-color);
    background-color: var(--primary-color);
    transition: 1s;
}

nav .fa-solid {
    display: none;
}


/* Course */

.course {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding: 40px;
}

.course h1 {
    color: var(--primary-color);
    font-size: 70px;
    font-weight: 600;
}

.course h2 {
    font-size: 60px;
}

.course p {
    color: var(--secondary-color);
    font-size: 35px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.shrimp-row, .snail-row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.shrimp-col, .snail-col {
    flex-basis: 31%;
    background:  #fffef0;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}

.shrimp-col, .snail-col {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.shrimp-col h3, .snail-col h3 {
    font-size: 40px;
    margin-bottom: 0px;
}
.shrimp-col p, .snail-col p {
    color: var(--light-color);
    font-size: 18px;
    padding-top: 2px; 
}

.shrimp-col h4, .snail-col h4 {
    text-transform: uppercase;
    text-align: left;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 10px;
}

.shrimp-col li, .snail-col li {
    font-size: 12px;
    text-align: left;
    padding: 10px;
    list-style: inline;
}

.shrimp-col:hover, .snail-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* Blog */
#blog {
    background-color: var(--primary-color);
    padding: 30px;
}

.blog-row {

}

.blog-col {
    background:  #fffef0;
    column-count: 2;
    column-rule: 1px solid black;
    column-gap: 20px;
    box-shadow: 2px 3px 20px black, 0 0 60px #8a4d0f inset;
}


.blog h1 {
    font-size: 80px;
    color: var(--secondary-color);
    text-align: center;
}

.blog h3 {
    font-size: 45px;
    margin-top: -10px;
    color: var(--tertiary-color);
}

.blog-col h2 {
    font-family: "Dailymirror.ttf";
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    line-height: 1;
}

.blog-col h3 {
    font-family: "Dailymirror.ttf";
    font-weight: 400;
    font-size: 22px;
    text-align: justify;
    padding: 10px 0 0;
    color: #000000;
}

.blog-col h5 {
    font-family: "Dailymirror.ttf";
    font-weight: 400;
    font-size: 13px;
    text-align: left;
}

.blog-col p {
    font-family: "Dailymirror.ttf";
    font-weight: 400;
    font-size: 12px;
    padding-left: 0;
    text-align: justify;
    color: #000000;
}

/* Merch */
#merch {
    height: 1200px;
    width: 100%;
    background-image: url('../img/blueShrimp.jpg');
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Campus */

.campus {
    width: 80%;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
}

.campus-row  {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.campus-col {
    flex-basis: 31%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    height: 80%;
    width: 100%;
    border-radius: 10px;
}

.campus-layer {
    border-radius: 10px;
    background: transparent;
    height: 80%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--light-color);
    transition: 0.5s;
}

.layer:hover {
    background: rgba(247, 121, 250, 0.4);
    /*background: rgba(149, 161, 241, 0.4);*/
}


/* Media Queries */

@media (max-width: 830px) {
    #nav {
        display: flex;
        flex-wrap: wrap;
    }
    .text-box {
        font-size: 25px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: var(--primary-color);
        height: 100vh;
        width: 175px;
        top: 0;
        right: -175px;
        text-align: left;
        z-index: 2;
        transition: .75s;
    }
    nav .fa-solid {
        display: block;
        color: var(--light-color);
        margin: 10px;
        font-size: 14px;
        cursor: pointer;
        padding: 10px;
    }
    .nav-links ul {
        padding: 20px;
    }
    .row {
        flex-direction: column;
    }
}