{% extends 'base.html' %}

{% block head %}
<h5>ToDo APP Login Page</h5>
{% endblock %}


{% block body %}
<section class="bodyContainer">
    <h1>Welcome</h1>
    <form id="auth-form" action="{{ url_for('login') }}" method="POST">
        <!-- Username field -->
        <input type="text"
               name="username"
               placeholder="Username"
               class="inputField"
               required>

        <!-- Password field -->       
        <input type="password"
               name="password"
               placeholder="Password"
               class="inputField"
               required>

        <!-- Login button -->       
        <input type="submit"
               value="Login"
               class="btn btnLogin">
       <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
       <a href="{{ url_for('register') }}">Create Account</a>
    </form>
</section>
{% endblock %}