/* Variables */ 
:root {
    --primary-color: blue;
    --secondary-color: red;
    --tertiary-color: yellow;
    --ps-blend-color: purple;
    --pt-blend-color: green;
    --st-blend-color: orange;
    --dark-color: black;
    --light-color: grey;
}

/* Basic Styling */ 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Arvo', serif;
}

.container {
    padding: 30px 50px;
}

.red {
    color: var(--secondary-color);
}

/* Project Styling */
.project-header-container, 
.set-container, 
.project-footer-container {
    background: var(--primary-color);
    color: var(--tertiary-color);
    display: flex;
    justify-content: center;

}

/* Project Header */
.project-header-container {
    align-items: center;
    flex-direction: column;
}
#project-header-title {
    font-size: 4rem;
    text-shadow: 3px 0 var(--dark-color);
    
}

/* Project Main */
.w {

}

.a {

}

.s {

}

.d {

}

.j {

}

.k {

}

.l {

}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: var(--seconday-color);
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 var(--light-color);
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid var(--tertiary-color);
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: var(--st-blend-color);
  text-shadow: 4px 0 var(--pt-blend-color);
  border-radius: 15px;
  display: inline-block;
  width: 130px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: var(--ps-blend-color);
  transition: .2s;
}

.drum:hover {
    transform: scale(1, 1.25);
    background: var(--secondary-color);
    color: var(--pt-blend-color);
    text-shadow: 4px 0 var(--ps-blend-color);

}

/* Project Footer */
#project-footer-title {
    font-size: .8rem;
}

/* Notes Styling */
