:root {
    --primary-color: rgba(023,076,079);
    --secondary-color: rgba(032,113,120);
    --tertiary-color: rgba(255,150,102);
    --dark-color: rgba(48,53,77);
    --light-color: rgba(252, 252, 247);
    --cat-dark-color: rgba(42,39,37);
    --cat-light-color: rgba(255,225,132);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nova Round', cursive;
    font-size: 1em;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Varela Round', sans-serif;
    font-size: 4em;
    font-weight: bold;
}

.text-muted {
    color: var(--secondary-color, 0.8);
}

.bold {
    font-weight: bold;
}

.header {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 12px 0 var(--dark-color, 0.7);
}

.header p {
    text-align: center;
    margin-top: 0;
}
.nav-logo {
    width: 200px;
    height: auto;
}

.gallery-container {
    padding: 40px 0;
    height: 500px;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
}

.gallery-img {
    background-position: center;
    width: 400px;
}

.main-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
    }

.main-title {    
    font-size: 3em;
    font-weight: bold;
    }

.main-text {
    margin-top: 0;
}

.data-card {
    padding: 5px 15px;
    width: 175px;
    font-size: 12px;
}

.data-img {
    border-radius: 9px;
    width: 100%;
}

.fa-star {
    height: 13px;
    color: var(--tertiary-color, 0.7);
}

.data-stats {
    top: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.data-card p {
    top: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

.footer {
    display: flex;
    position: relative;
    bottom: 0;
    background-color: var(--light-color);
    width: 100%;
    padding: 2em 0;
    box-shadow: 12px 0 0 0 var(--light-color, 0.7);  
}

.indicia {
    font-size: .75em;
    color: var(--cat-light-color);
    text-align: right;
}