{% extends 'base.html' %}

{% block title %}Bass Guitar{% endblock %}

{% block content %}
<h1>Bass Guitar</h1>
<p>I have 5 electric bass guitars. When I bought the first bass it did not even work and I had to replace the pickups, potentiometers, and wiring to get it working. Eventually I started working at a music shop and fixing electric 4 and 6 string guitars. I really like to play with my instruments, but I cannot play music! I have only ever played in punk and metal bands, so I only know how to make loud noise.</p>
{% endblock %}
